[submodule "extern/vlog-parser"]
	path = extern/vlog-parser
	url = https://github.com/Bo-Yuan-Huang/verilog-parser.git
[submodule "extern/tmpl-synth"]
	path = extern/tmpl-synth
	url = https://github.com/PrincetonUniversity/ILA-Synthesis-Python.git
[submodule "extern/smt-switch"]
	path = extern/smt-switch
	url = https://github.com/makaimann/smt-switch.git
[submodule "extern/vexpparser"]
	path = extern/vexpparser
	url = https://github.com/zhanghongce/vexpparser.git
[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog.git
	branch = master
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
	branch = main
